<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <span>新应用的名字</span><input type='text' id='appName'>
    <!-- <a href='createApp'>创建新的app</a> -->
    <button id='btnSubmit'>创建新的app</button>
    <ul>
        <% for(var i=0; i<appList.length; i++) {%>
           <li><a href="appIndex/<%= appList[i] %>"><%= appList[i] %></a></li>
        <% } %>
    </ul>



    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript">
        $("#btnSubmit").click(function () {
           $.ajax({
                type : 'get',
                url : 'createApp?appName=' + $("#appName").val(),
                success : function () {
                    console.log("ok");
                }

           });      
        });
    </script>
  </body>
</html>